body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Landing page*/
.container-header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-header h1{
    display: inline;
}

.landing-nav{
    display: inline;
}

.opciones-landing{
    display: inline;
}
.opciones-landing li{
    display: inline;
    margin: 0 0 0 15px;
}

.landing-nav a{
    font-size: 16px;
    text-decoration: none;
}

.landing-nav a:visited{
    color: black;
}

.landing-nav a:hover{
    text-decoration: underline;
}

.button-Register{
    padding: 10px 53px;
    border-radius: 68px;
    font-size: 16px;
    background-color: #0DCEDA;
    color: #FFFFFF;
    border: none;
    transition: transform 0.3s ease;
}

.button-Register:hover{
    transform: scale(1.1);
}

.section-hero{
    display: block;
    width: 100%;
    background-image: url(img/main-landingmain-background.png);
    height: 933px;
    background-size: cover;
}

.eslogan{
    width: 434px;
    margin-left: 60px;
    padding-top: 126px;
}

.eslogan h1{
    color: #0DCEDA;
    font-size: 80px;
    font-weight: bold;
    margin-top: 0;
}

.eslogan h3{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
}

.button-eslogan{
    font-size: 20px;
    font-weight: bold;
    background-color: #0DCEDA;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 32px 43px;
    transition: transform 0.3s ease;
    margin: 0 auto;
    display: block;
}

.button-eslogan:hover{
    transform: scale(1.1);
}

.section-why{
    background-color: #F2F7FF;
    width: 100%;
    display: flex;
}

.container{
    padding-top: 151px;
    margin: 0 auto;
    display: flex;
    width: 80%;
}

.titulo-why{
    width: 34%;
    margin-right: 5%;
}

.titulo-why h1{
    font-size: 48px;
    font-weight: bold;
    color: #2D2F30;
    margin-top: 0;
}

.titulo-why p{
    text-align: center;
    color: #8B8C8C;
    line-height: 2em;
    width: 384px;
}

.caracteristicas-why{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

.caracteristicas-why div{
    width: 256px;
    height: 206px;
    border-radius: 8px;
    background-color: #FCFCFC;
    box-shadow: 0 18px 58px 16px rgba(0, 0, 0, 0.06);
}

.caracteristicas-why div img{
    padding-top: 24px;
    padding-left: 24px;
}

.caracteristicas-why div p{
    width: auto;
    padding: 0 20px;
    font-size: 22px;
    font-weight: bold;
    color: #363940;
    margin: 0;
}