body{
    font-family: 'Open Sans', sans-serif;
}

/* Landing page*/
.container-header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-header h1{
    display: inline;
}

.landing-nav{
    display: inline;
}

.opciones-landing{
    display: inline;
}
.opciones-landing li{
    display: inline;
    margin: 0 0 0 15px;
}

.landing-nav a{
    font-size: 16px;
    text-decoration: none;
}

.landing-nav a:visited{
    color: black;
}

.landing-nav a:hover{
    text-decoration: underline;
}

.button-Register{
    padding: 10px 53px;
    border-radius: 68px;
    font-size: 16px;
    background-color: #0DCEDA;
    color: #FFFFFF;
    border: none;
    transition: transform 0.3s ease;
}

.button-Register:hover{
    transform: scale(1.1);
}

.section-hero{
    display: block;
    width: 100%;
}