body{
    font-family: 'Open Sans', sans-serif;
}

/* Landing page*/
.container-header{
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.container-header h1{
    display: inline;
    float: left;
}

.landing-nav{
   position:absolute;
   right: 0;
   top: 33px;
}

.opciones-landing{
    display: inline;
}
.opciones-landing li{
    display: inline;
    margin: 0 0 0 15px;
}

.landing-nav a{
    font-size: 16px;
    text-decoration: none;
}

.landing-nav a:visited{
    color: black;
}

.landing-nav a:hover{
    text-decoration: underline;
}

.button-Register{
    padding: 10px 53px;
    border-radius: 68px;
    font-size: 16px;
    background-color: #0DCEDA;
    color: #FFFFFF;
    border: none;
    transition: transform 0.3s ease;
}

.button-Register:hover{
    transform: scale(1.1);
}